@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');

:root{
    --primary: #97FEED;
    --first: #35A29F;
    --second: #0B666A;
    --third: #071952;
    --white: #edfffc;
    --side: #6f00ff;
    --black: #042426;
}
*{
    padding: 0;
    margin: 0;
    font-family: "Syne", sans-serif;
}
.nav{
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
}
.nav .logo{
    padding: 8px 7px;
}

.nav .link a{
    padding: 12px;
    text-decoration: none;
    color: var(--second);
}
.nav .link a:hover{
    background-color: var(--second);
    border-radius: 20px;
    color: var(--white);
}

.main{
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--white);
}
.main img{
    width: 50%;
    position: absolute;
    top: 0px;
    animation: par linear;
    animation-timeline: scroll();
}
@keyframes par {
    from{
        top: 0;
    }
    to{
        top: -120%;
    }
}
.main p > .seems-style{
    font-style: italic;
    background-color: var(--side);
    border-radius: 30px;
    color: var(--white);
}
.main h1{
    color: var(--first);
    font-size: 8vw;
    z-index: 1;
    font-weight: 300;
    
}  

.main h1 > .span2{
    font-weight: bold;
}
.main h1 > .span1{
    color: var(--second);
}
.main p{
    font-size: 4vw;
}
.content1{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: var(--first);
}
.content1 h1{
    font-weight: 600;
    color: var(--black);
    font-size: 4vw;
    animation: big linear both;
    animation-timeline: view();
    animation-range: contain contain 100px;
}
@keyframes big {
    to{
        background-color: var(--white);
    }
}
.content1 p{
    color: var(--white);
}
.content1 img{
    position: absolute;
    height: 100vh;
    filter: grayscale(100%);
    right: 0;
    mix-blend-mode: darken;
}
.content2{
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
}
.content3{
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: var(--side);
}
.content3 h1{
    color: var(--white);
}
