
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;1,300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@font-face {
    font-family: "Base";
    src: url("fonts/BaseNeue-Regular.ttf");
    font-weight: 400;
}
@font-face {
    font-family: "Base";
    src: url("fonts/BaseNeue-Light.ttf");
    font-weight: 300;
}
@font-face {
    font-family: "Base";
    src: url("fonts/BaseNeue-ExpandedLight.ttf");
    font-weight: 500;
}
@font-face {
    font-family: "Base";
    src: url("fonts/BaseNeue-Black.ttf");
    font-weight: 900;
}
@font-face {
    font-family: "Base";
    src: url("fonts/BaseNeue-ExtraLight.ttf");
    font-weight: 200;
}
.main, .content1,.content2{
    color: var(--neutral-white);
}
html{
    scroll-behavior: smooth;
}
*{
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
}
:root{
    --primary1: #DBE3FF;
    --primary2: #7C8FDB;
    --primary3: #536299;
    --primary4: #1B2E6D;
    --primary5: #232940;
    --secondary1: #C191FF;
    --secondary2: #AC6CFF;
    --secondary3: #9747FF;
    --secondary4: #7939CC;
    --secondary5: #5B2B99;
    --neutral-white: #ededff;
    --black: #000822;

}
.nav{
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: space-between;
    background-color: var(--neutral-white);
    position: relative;
    z-index: 1;
}
.nav .logo{
    padding: 8px 34px;
}
.nav .link{
    padding-right: 34px;
}
.nav .link > a{
    padding: 12px;
    text-decoration: none;
    color: var(--black);
}
.nav .link a:hover{
    background-color: var(--primary2);
    border-radius: 20px;
    color: var(--primary1);
}
#bar{
    display: none;
    padding-right: 12px;
}
.mob-nav{
    display: none;
    
}
.mob-nav a{
    padding: 17px 12px;
    font-weight: 300;
}
.mob-nav a:hover{
    background-color: var(--neutral-white);
}
.main{
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: space-between;
    background-color: var(--black);
}
.main .left{
    padding-left: 34px;
}
.main .right{
    padding-right: 34px;
}
.main .left h1{
    font-family: "Base";
    font-weight: 900;
    font-size: 80px;
    line-height: 75px;
    padding-right: 29%;
}
.main .left p{
    font-size: 19px;
    padding-right: 41%;
    margin-top: 20px;
}
#putra{
    color: var(--primary3);
    font-family: "Base";
    font-weight: 900;
}
.main .left > .icon{
    margin-top: 10px;
    display: flex;
    align-items: center;
}
.main .left > .icon > a > #logo{
    font-size: xx-large;
    color: var(--neutral-white);
}
.main .left > .icon > a:not(a:nth-child(1)){
    margin-left: 17px;
}
.main .left > .icon a > #btnmain{
    padding: 7px 17px;
    border: none;
    background-color: var(--secondary2);
}
.main .right img{
    height: 500px;
    width: 500px;
    object-fit: cover;
    border-radius: 50%;
}
.content1{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    background-color: var(--black);
}
.content1 h1, #o1-a, #o1-b, #o1-c{
    font-family: "Base";
    font-size: 15vw;
    font-weight: 400;
}
.content1 h1 > #o1-a{
    font-weight: 200;
}
.content1 h1 > #o1-b{
    font-weight: 500;
}
.content1 h1 > #o1-c{
    color: var(--primary4);
}
.content1 h1:nth-child(2){
    line-height: 0;
}
.content1 h1 > #star1{
    font-size: 10vw;
    
}
.content2{
    display: flex;
    width: 100%;
    height: 30vh;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--black);
}
.content2 div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content2 h1:not(.skills){
    font-size: 5vw;
    font-family: "Base", sans-serif;
    font-weight: 300;
    line-height: 5vw;
    text-decoration: wavy underline;
    text-decoration-color: var(--secondary5);
}
.content2 .skills{
    font-family: "Cormorant", sans-serif;
    font-weight: 200;
    font-style: italic;
    font-size: 3vw;
    border: 2px solid var(--primary2);
    border-radius: 50%;
}
.content3{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: var(--neutral-white);
}
.content3 p{
    font-family: "Cormorant", serif;
    font-size: 20px;
    color: var(--black);
    font-style: italic;
}
@media (max-width: 1245px) {
    .main .right img{
        width: 400px;
        height: 400px;
    }
    
}
@media (max-width: 860px) {
    .main{
        display: flex;
        flex-direction: column-reverse;
        height: auto;
        align-items: center;
        justify-content: center;
    }
    .main .left{
        padding: 0;
    }
    .main .left h1{
        padding-right: 0;
    }
    .main .left p{
        padding-right: 0;
    }
    .main .right{
        padding: 0;
    }
}